{% extends "layout.njk" %}
{% block content %}
    <h2>500 - Server Error</h2>
    <p>Oops! Something went wrong on our end. Please try again later.</p>
    <a href="/">Go back to home</a>
{% endblock %}
